n8n-workflow.json
{
  "name": "Roman Rafı — OpenRouter Kitap Ekleyici",
  "nodes": [
    {
      "parameters": {
        "path": "7bec16cd-44a1-482c-bf83-395fd5d1d00f",
        "formTitle": "Roman Rafı — Kitap Ekle",
        "formDescription": "Kitap adını ve yazarını yaz. Model araştırıp siteye ekleyecek.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Kitap Adı",
              "requiredField": true
            },
            {
              "fieldLabel": "Yazar"
            },
            {
              "fieldLabel": "Var olanı güncelle?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Hayır"
                  },
                  {
                    "option": "Evet"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "955c8b7b-bff3-4ffc-bfa1-d840a6c1a422",
      "name": "Kitap Formu",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        144,
        -48
      ],
      "webhookId": "7bec16cd-44a1-482c-bf83-395fd5d1d00f"
    },
    {
      "parameters": {
        "jsCode": "const kitap = $input.first().json['Kitap Adı'];\nconst yazar = $input.first().json['Yazar'] || '';\nconst guncelle = ($input.first().json['Var olanı güncelle?'] || 'Hayır') === 'Evet';\nconst prompt = `Sen bir Türk edebiyatı uzmanısın. Aşağıdaki kitap için bir tanıtım kartı verisi üreteceksin. SADECE geçerli JSON döndür, başka hiçbir şey yazma.\nKitap: \"${kitap}\"${yazar ? ' — Yazar: ' + yazar : ''}\nŞu JSON şemasına BİREBİR uy:\n{\n  \"plain\": \"Kitabın düz adı\",\n  \"title\": \"Kitap adı, vurgulanacak kelime <em>...</em> içinde (örn: Kurt <em>Kanunu</em>)\",\n  \"authorName\": \"Yazarın tam adı\",\n  \"dates\": \"Yazarın doğum-ölüm ve yeri (örn: 1910 — 1973 · İstanbul)\",\n  \"pal\": { \"bg\":\"#hex kapak zemin\", \"c1\":\"#hex\", \"c2\":\"#hex\", \"acc\":\"#hex vurgu\", \"acc2\":\"#hex\" },\n  \"stack\": [[\"KELİME\",\"c1\"],[\"KELİME\",\"c2\"]],\n  \"notes\": [\n    {\"tag\":\"Yazar\",\"title\":null,\"p\":\"Yazar hakkında 1-2 cümle\"},\n    {\"tag\":\"Dönem\",\"title\":\"BAŞINDA YIL OLAN kısa başlık (örn: 1926 · İzmir Suikastı)\",\"p\":\"Kitabın geçtiği/yazıldığı dönem, siyasi bağlam\"},\n    {\"tag\":\"Yazarın Hayatından\",\"title\":\"Kısa başlık\",\"p\":\"Yazarın şahsi hayatından çarpıcı bilgi\"},\n    {\"tag\":\"İlginç\",\"title\":\"Kısa başlık\",\"p\":\"Kitapla ilgili ilginç detay\"}\n  ],\n  \"summary\": { \"h\":\"Peki roman <em>neyi</em> anlatıyor?\", \"ps\":[\"1. paragraf\",\"2. paragraf\"], \"meta\":[[\"1969\",\"İlk baskı\"],[\"Roman\",\"Tür\"],[\"Etiket\",\"Açıklama\"]] },\n  \"quote\": \"Kısa çarpıcı kapanış cümlesi, bir kelime <em>...</em> içinde\",\n  \"bio\": [\"Yazar biyografisi 1. paragraf\",\"2. paragraf\"],\n  \"fact\": \"Yazar dosyasında çerçeveli gösterilecek çarpıcı bilgi\",\n  \"works\": [[\"Eser Adı\",\"Yıl/Not\"]],\n  \"coverUrl\": \"Kitabın kapak görselinin TAM URL'si. Emin değilsen boş string bırak.\",\n   \"category\": \"Kitabın türü — tek kelime/kısa (örn: Roman, Tarihi Roman, Polisiye, Öykü, Şiir, Deneme, Anı)\"\n}\nKURALLAR:\n- RENK OKUNABİLİRLİĞİ ÇOK ÖNEMLİ, şu kurallara MUTLAKA uy:\n- Renkler kitabın kapağıyla/temasıyla uyumlu olsun ama önce okunabilirlik gelir.\n- bg (kapak zemini) koyu veya orta-koyu bir ton olsun; c1 ve c2 bunun üstünde net okunacak kadar açık/parlak olsun.\n- acc (sayfa vurgu rengi) KOYU bir renk olsun. Bu renk hem açık bej zemin üstünde yazı olarak görünecek, hem de yazar panelinde ARKA PLAN olup üstüne BEYAZ yazı gelecek. Bu yüzden acc asla açık/parlak (açık sarı, açık pembe, bej, krem, açık yeşil) OLMAMALI — beyaz yazının okunacağı kadar koyu olmalı (koyu kırmızı, bordo, lacivert, koyu yeşil, kahve, antrasit gibi).\n- acc2 (yazar panelinde küçük vurgu metinleri, koyu acc zemini üstünde görünür) AÇIK/parlak bir ton olsun (açık sarı, altın, krem, açık turkuaz gibi) ki koyu zeminde okunsun.\n- Yani kural: acc KOYU, acc2 AÇIK. İkisi birbirinin zıttı parlaklıkta olmalı.\n- stack: yazar adı + kitap adının kelimeleri, büyük harf, c1/c2 dönüşümlü.\n- Dönem notunun title alanı MUTLAKA bir yılla başlasın, sonra ' · ' ve kısa bir olay/mekan gelsin (örn: 1926 · İzmir Suikastı). Yıl olmadan Dönem başlığı yazma.\n- category alanı kitabın gerçek türünü yansıtsın, kısa ve standart olsun.\n- Bilgiler doğru ve gerçek olsun; uydurma. Emin olmadığın coverUrl'yi boş bırak.\n- SADECE JSON döndür.`;\nreturn [{ json: { prompt, guncelle } }];"
      },
      "id": "21aa4da3-4048-41ed-9952-9aff9f654705",
      "name": "Prompt Hazırla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer OPENROUTER_KEY_BURAYA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"google/gemini-3-flash-preview\", messages: [{ role: \"user\", content: $node['Prompt Hazırla'].json.prompt }], response_format: { type: \"json_object\" } }) }}",
        "options": {}
      },
      "id": "fae10c5f-3d2c-4690-95ed-9da7d29e7239",
      "name": "OpenRouter'a Sor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet text = resp?.choices?.[0]?.message?.content || '';\ntext = text.replace(/```json/gi,'').replace(/```/g,'').trim();\nlet book;\ntry { book = JSON.parse(text); }\ncatch(e){ throw new Error('Model gecerli JSON vermedi: ' + text.slice(0,200)); }\nif (Array.isArray(book)) book = book[0];\nif (!book || typeof book !== 'object') throw new Error('Beklenen kitap objesi gelmedi');\nbook.overwrite = $node['Prompt Hazırla'].json.guncelle === true;\nreturn [{ json: book }];"
      },
      "id": "dc261aa9-4bc6-4419-a5f5-ea402d44567a",
      "name": "JSON Ayıkla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/books/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-admin-key",
              "value": "ADMIN_SIFREN_BURAYA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "79dcbfdd-fcf0-4c02-9108-2458285701e8",
      "name": "Siteye Ekle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Kitap Formu": {
      "main": [
        [
          {
            "node": "Prompt Hazırla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Hazırla": {
      "main": [
        [
          {
            "node": "OpenRouter'a Sor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter'a Sor": {
      "main": [
        [
          {
            "node": "JSON Ayıkla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Ayıkla": {
      "main": [
        [
          {
            "node": "Siteye Ekle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eaac96c6-5595-42fb-b221-549485287128",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a737554e2790bb4b2cd341afeebdc537c9a9e6f47342d9ab502d4d479953d85"
  },
  "nodeGroups": [],
  "id": "nSiVboAyXDF2yuas",
  "tags": []
}
